SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_SERVICE_KEY=your-supabase-service-role-key
GNEWS_API_KEY=your-gnews-api-key
HF_TOKEN=your-huggingface-token
GNEWS_FETCH_MODE="test or prod"  # Set to "prod" for production data fetching, "test" for limited testing
PIPELINE_TIMEZONE=Your/Timezone  # e.g., "Asia/Kolkata"
HF_HOME=./model_cache  # Directory to cache Hugging Face models
SENTENCE_TRANSFORMERS_HOME=./model_cache
PARALLEL_SUMMARIZER_WORKERS=2  # set the parallel workers for summarization
PARALLEL_CATEGORIZER_WORKERS=2  # set the parallel workers for categorization